.popularPosts{
  padding-top: 80px;
  padding-bottom: 50px;
  &-wrapper{
    width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
  }
  .post{
    margin-bottom: 60px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.blog{
  padding-top: 150px;
  &-wrapper{
    width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    &--2{
      position: relative;
      padding-top: 160px;
      &:before{
        content: "";
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='90' height='130' viewBox='0 0 90 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.3518 73.5694C44.9504 75.5931 39.5491 78.7065 33.9128 79.4849C4.87054 82.9875 -3.89695 57.224 1.50445 35.0409C6.12303 16.1269 26.163 0.559852 44.1676 0.015005C63.4248 -0.452007 78.2982 9.97793 85.0304 31.9275C95.0503 63.6065 89.8838 93.1839 69.8438 120.037C67.2606 123.384 64.2076 127.198 60.6067 128.443C55.9881 130.234 50.3518 129.455 45.1853 130C44.9504 125.174 43.3848 120.037 44.4025 115.678C47.4554 101.901 51.2912 88.3581 54.9704 74.8148C53.4048 74.3477 51.8392 74.1142 50.3518 73.5694Z' fill='black'/%3E%3C/svg%3E%0A");
        width: 90px;
        height: 130px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        bottom: 0;
        right: -30px;
      }
    }
  }
  &-title{
    position: relative;
    display: inline-block;
    z-index: 1;
    color: map-get($colors, light);
    margin-bottom: 170px;
    &:after{
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3Csvg width='301' height='240' viewBox='0 0 301 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M0.659088 99.6612C1.26004 91.6537 2.81705 83.677 5.1662 75.7777C9.01776 62.7616 15.437 49.2508 30.4061 38.8162C45.6758 28.1807 68.2387 19.2302 89.3267 12.6758C107.929 6.89424 127.542 1.48374 148.657 0.262513C182.911 -1.73164 217.056 7.83722 240.521 22.1055C268.219 38.9399 282.942 63.2099 292.749 85.1456C300.37 102.212 302.282 120.097 298.485 137.581C296.655 146.006 293.869 154.694 288.569 162.639C283.352 170.462 280.375 179.18 273.054 186.538C264.313 195.334 251.583 202.832 236.915 208.505C195.668 224.474 140.38 230.302 95.0903 216.605C96.183 216.945 77.7447 228.168 75.9145 229.05C66.6544 233.424 55.8919 236.763 44.3919 238.788C41.9608 239.221 31.4168 241.061 29.9418 239.144C28.7672 237.614 35.7874 234.692 37.2351 233.749C49.1995 226.066 58.1318 216.868 63.1853 207.037C64.196 205.073 65.0701 202.986 64.2779 200.992C62.3931 196.185 52.8598 193.959 47.7791 190.388C40.9774 185.58 34.9133 180.185 29.5867 174.805C17.8954 162.98 9.86456 150.025 5.3028 136.731C1.06882 124.534 -0.269653 112.09 0.659088 99.6612Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 301px;
      height: 240px;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
  &-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    &--5{
      .post{
        &-picture{
          height: 260px;
        }
        &-category{
          margin-bottom: 5px;
        }
        &-content{
          padding-top: 20px;
        }
        &:first-child{
          grid-area: 1 / 1 / 3 / 2;
          .post-picture{
            height: 630px;
          }
        }
      }
    }
  }
  .filterBar{
    margin-bottom: 60px;
  }
  .post{
    &-title{
      margin-bottom: 0;
    }
  }
}

.subscribe{
  background-color: map-get($colors, secondary-light);
  padding-top: 190px;
  padding-bottom: 290px;
  margin-top: 100px;
  position: relative;
  z-index: 1;
  &-wrapper{
    width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  &-title{
    display: inline-block;
    padding-left: 270px;
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      z-index: -1;
      background-image: url("data:image/svg+xml,%3Csvg width='360' height='510' viewBox='0 0 360 510' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M359.664 211.78C358.943 194.764 357.074 177.814 354.255 161.028C349.633 133.368 341.93 104.658 323.967 82.4845C305.644 59.884 278.568 40.8642 253.263 26.936C230.94 14.6503 207.405 3.15295 182.066 0.55784C140.961 -3.67974 99.9874 16.6541 71.8301 46.9742C38.592 82.7473 20.924 134.321 9.15632 180.934C0.0109406 217.2 -2.2836 255.207 2.2727 292.36C4.4689 310.263 7.81238 328.724 14.1715 345.609C20.4324 362.231 24.0053 380.758 32.7901 396.394C43.2794 415.085 58.5545 431.018 76.1569 443.073C125.653 477.007 191.998 489.391 246.346 460.286C245.035 461.009 267.161 484.858 269.357 486.73C280.469 496.027 293.384 503.122 307.184 507.425C310.102 508.345 322.755 512.254 324.525 508.181C325.934 504.929 317.51 498.72 315.773 496.716C301.415 480.39 290.696 460.845 284.632 439.953C283.42 435.781 282.371 431.346 283.321 427.108C285.583 416.892 297.023 412.162 303.12 404.574C311.282 394.357 318.559 382.893 324.951 371.461C338.98 346.332 348.617 318.804 354.091 290.553C359.172 264.635 360.778 238.191 359.664 211.78ZM214.878 237.895L202.389 317.982C202.16 319.264 201.734 321.005 201.078 323.37C200.685 324.815 200.292 326.129 199.931 327.246C199.734 327.969 199.505 328.593 199.341 329.184C198.685 328.757 197.178 328.527 194.621 328.33C192.031 328.133 190.327 328.133 189.442 328.133C189.245 328.133 188.589 328.133 187.737 327.903C187.278 327.804 186.787 327.739 186.229 327.673C185.738 327.607 185.213 327.575 184.721 327.476C183.443 327.279 182.558 327.279 181.509 327.279H173.544C173.544 327.049 173.478 326.688 173.38 326.162C173.314 325.735 173.216 325.176 173.118 324.487L172.462 319.953C172.364 319.231 172.298 318.508 172.265 317.785C172.2 317.03 172.167 316.307 172.036 315.65C171.806 314.336 171.806 313.285 171.806 312.628C171.806 311.544 171.807 308.752 171.38 304.021C171.151 301.426 170.987 298.733 170.79 295.973C170.659 293.707 170.495 291.374 170.299 288.943C170.102 286.513 169.971 284.18 169.807 281.914C169.643 279.154 169.446 276.461 169.217 273.866C169.086 272.453 168.955 271.172 168.856 270.055C168.66 267.657 168.496 266.015 168.365 265.259C168.266 264.274 168.135 263.091 168.004 261.678C167.807 259.675 167.545 257.277 167.283 254.517C166.955 250.674 166.496 246.601 166.005 242.232C165.873 240.95 165.71 239.669 165.578 238.355C164.923 232.311 164.3 226.3 163.644 219.828C162.989 213.357 162.333 207.345 161.711 201.728C161.514 199.954 161.35 198.246 161.153 196.604C160.76 192.924 160.432 189.639 159.973 186.65C159.678 183.694 159.383 181.23 159.154 179.358C159.055 178.504 158.957 177.781 158.892 177.157C157.187 164.247 155.22 151.731 152.86 139.905C151.516 133.204 150.598 126.371 150.041 119.374C149.615 114.02 149.418 108.6 149.418 103.081L148.501 97.8252C148.501 97.8252 147.747 94.6059 149.418 92.5364C151.09 90.4669 157.318 90.4669 165.513 90.8939C169.282 91.091 173.347 90.9596 177.477 90.8611C181.968 90.7297 186.59 90.5654 191.113 90.8282C191.441 90.8611 191.802 90.8611 192.13 90.8939C196.456 91.2224 200.783 91.9123 205.012 92.6021C209.437 93.3248 213.797 94.0146 217.861 94.2446C223.04 94.5074 226.744 95.033 229.563 95.46C231.202 95.69 232.546 95.8871 233.726 95.9528C237.365 96.1827 239.004 97.2996 239.954 99.2048C240.61 100.486 240.544 101.439 240.479 103.18C240.446 103.902 240.38 104.789 240.38 105.873C240.38 112.115 239.954 118.192 239.135 124.236C238.938 125.714 238.709 127.225 238.447 128.704C237.168 136.226 235.66 143.552 233.726 150.877C231.792 158.203 229.858 165.528 227.695 172.821C225.761 180.146 224.024 187.471 222.745 195.224C221.827 200.118 221.106 205.177 220.385 210.302C220.09 212.371 219.795 214.441 219.5 216.543C218.746 223.672 217.009 230.767 214.878 237.895ZM180.231 421.557C175.937 421.557 172.265 420.473 168.824 418.338C165.611 416.17 162.596 413.147 160.235 409.731C157.875 406.282 155.941 402.406 154.663 398.332C153.647 395.113 153.024 391.894 152.827 388.905C152.762 388.083 152.729 387.295 152.729 386.506C152.729 381.349 153.811 377.243 156.171 373.794C158.531 370.345 161.743 367.125 165.644 364.103C167.152 363.019 169.086 362.395 171.249 361.738C173.413 361.311 175.543 360.884 177.707 360.654C179.87 360.457 181.575 360.457 183.312 360.457C185.016 360.457 186.098 360.654 186.524 360.884H191.474C193.834 361.705 196.03 362.691 198.063 363.84C201.963 366.041 205.274 368.899 207.831 372.283C211.699 377.44 213.633 383.681 213.633 391.007C213.633 395.277 213.075 399.088 211.928 402.471C211.404 404.048 210.715 405.526 209.929 406.906C208.454 409.468 206.552 411.702 204.16 413.607C198.095 418.995 190.13 421.557 180.231 421.557Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      width:360px;
      height: 510px;
      top: -120px;
      left: 0;
    }
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
    background-image: url("../images/illustration/cooperative.png");
    width: 268px;
    height: 229px;
    bottom: -25px;
    left: 680px;
  }
  .mc4wp-form{
    position: absolute;
    right: 15%;
  }
}
.mc4wp-form{
  width: 300px;
  .mc4wp-response{
    margin-top: 15px;
  }
  .mc4wp-form-fields {
    div{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    p{
      font-weight: 700;
      margin-bottom: 15px;
    }
    input, button{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      height: 55px;
      border: 1px solid map-get($colors, secondary-dark);
    }
    input{
      appearance: none;
      background-clip: padding-box;
      border-right: none;
      padding: 0 16px;
      border-radius: 0;
      box-shadow: none;
      background: transparent;
      &:hover, &:focus{
        outline: none;
      }
    }
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: none;
      padding: 0 16px 0 12px;
      color: map-get($colors, secondary-dark);
      background-color: transparent;
      cursor: pointer;
      svg{
        transition: 0.2s ease-in-out;
      }
      &:hover, &:focus{
        outline: none;
        background-color: map-get($colors, secondary-light);
        svg{
          transform: translateX(4px);
        }
      }
    }
  }
}