.cases{
  padding-top: 80px;
  overflow-x: hidden;
  &-wrapper{
    width: 1180px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  &-title{
    margin-bottom: 40px;
  }
  .project{
    margin-bottom: 100px;
    height: 680px;
    &-content{
      padding: 20px 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &-title{
      &:before{
        left: -35px;
      }
    }
  }
  .filterBar{
    margin-bottom: 55px;
  }
  &--bars{
    .cases-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 100px 30px;
    }
    .project{
      display: flex;
      height: auto;
      flex-direction: column-reverse;
      margin-bottom: 0;
      &-content{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
        height: auto;
        padding-bottom: 25px;
        margin-bottom: 15px;
        border-bottom: 1px solid map-get($colors, secondary-dark);
        .btn{
          display: none;
        }
      }
      &-grid{
        flex-direction: column;
      }
      &-left{
        width: 100%;
        margin-right: 0;
      }
      &-category{
        display: none;
      }
      &-title{
        &:before{
          display: none;
        }
      }
      &-top{
        height: 250px;
      }
      &-panel{
        width: 100%;
        height: 70px;
      }
      &-logo{
        width: 60px;
        min-width: 60px;
      }
      &-stats{
        width: 100%;
      }
      &-stat{
        padding: 5px 15px;
        width: 50%;
        align-items: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        @include p4;
        span{
          @include h6;
        }
        &:nth-child(3), &:nth-child(4){
          display: none;
        }
      }
      &:nth-of-type(even){
        .project-image{
          &:before, &:after{
            display: none;
          }
        }
      }
    }
  }
  &-list{
    position: relative;
    transition: 0.2s ease-in-out;
    &.rendering{
      .project{
        filter: blur(6px);
        user-select: none;
        pointer-events: none;
      }
      &:after{
        content: '';
        display: block;
        width: 41px;
        height: 58px;
        background-image: url("data:image/svg+xml,%3Csvg width='41' height='58' viewBox='0 0 41 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M40.4157 24.1955C40.336 22.3039 40.1295 20.4195 39.8178 18.5535C39.3069 15.4786 38.4553 12.2869 36.4695 9.82197C34.4438 7.30953 31.4506 5.19513 28.6531 3.64676C26.1853 2.28098 23.5834 1.00285 20.7823 0.714358C16.2381 0.243274 11.7084 2.50374 8.59562 5.87437C4.92115 9.85119 2.96795 15.5845 1.66702 20.7665C0.655995 24.798 0.402332 29.0232 0.906033 33.1534C1.14882 35.1436 1.51845 37.1959 2.22145 39.073C2.91359 40.9208 3.30858 42.9804 4.27974 44.7187C5.43934 46.7966 7.12801 48.5677 9.07396 49.9079C14.5458 53.6802 21.8803 55.057 27.8885 51.8214C27.7435 51.9018 30.1895 54.553 30.4323 54.7612C31.6608 55.7946 33.0885 56.5834 34.6141 57.0618C34.9366 57.164 36.3354 57.5986 36.5311 57.1458C36.6869 56.7843 35.7556 56.0941 35.5636 55.8713C33.9764 54.0564 32.7914 51.8835 32.121 49.561C31.9869 49.0972 31.871 48.6042 31.976 48.1331C32.2261 46.9974 33.4908 46.4715 34.1648 45.628C35.0671 44.4923 35.8716 43.2178 36.5782 41.947C38.1292 39.1533 39.1945 36.0931 39.7997 32.9525C40.3614 30.0713 40.539 27.1316 40.4157 24.1955ZM24.4097 27.0987L23.029 36.0018C23.0036 36.1442 22.9565 36.3378 22.8841 36.6007C22.8406 36.7614 22.7971 36.9075 22.7572 37.0316C22.7355 37.112 22.7101 37.1813 22.692 37.2471C22.6195 37.1996 22.4528 37.174 22.1702 37.1521C21.8839 37.1302 21.6955 37.1302 21.5976 37.1302C21.5759 37.1302 21.5034 37.1302 21.4092 37.1047C21.3585 37.0937 21.3041 37.0864 21.2425 37.0791C21.1881 37.0718 21.1302 37.0681 21.0758 37.0572C20.9345 37.0353 20.8366 37.0353 20.7207 37.0353H19.8401C19.8401 37.0097 19.8329 36.9695 19.822 36.9111C19.8147 36.8636 19.8039 36.8016 19.793 36.7249L19.7205 36.2209C19.7097 36.1406 19.7024 36.0602 19.6988 35.9799C19.6915 35.8959 19.6879 35.8156 19.6734 35.7425C19.6481 35.5965 19.6481 35.4796 19.6481 35.4066C19.6481 35.2861 19.6481 34.9756 19.6009 34.4498C19.5756 34.1613 19.5575 33.8618 19.5357 33.5551C19.5212 33.3031 19.5031 33.0438 19.4814 32.7736C19.4596 32.5034 19.4451 32.2441 19.427 31.9921C19.4089 31.6854 19.3871 31.3859 19.3618 31.0974C19.3473 30.9404 19.3328 30.798 19.3219 30.6738C19.3002 30.4072 19.2821 30.2246 19.2676 30.1406C19.2567 30.0311 19.2422 29.8996 19.2277 29.7426C19.206 29.5198 19.177 29.2533 19.148 28.9465C19.1117 28.5192 19.061 28.0664 19.0067 27.5807C18.9922 27.4383 18.974 27.2959 18.9595 27.1498C18.8871 26.4779 18.8182 25.8096 18.7457 25.0902C18.6733 24.3708 18.6008 23.7025 18.5319 23.078C18.5102 22.8808 18.4921 22.691 18.4703 22.5084C18.4269 22.0994 18.3906 21.7342 18.3399 21.4019C18.3073 21.0732 18.2747 20.7993 18.2493 20.5912C18.2384 20.4962 18.2275 20.4159 18.2203 20.3465C18.0319 18.9113 17.8144 17.52 17.5535 16.2053C17.405 15.4604 17.3035 14.7008 17.2419 13.923C17.1948 13.3277 17.173 12.7252 17.173 12.1117L17.0716 11.5274C17.0716 11.5274 16.9882 11.1695 17.173 10.9394C17.3578 10.7094 18.0464 10.7094 18.9523 10.7568C19.369 10.7787 19.8184 10.7641 20.275 10.7532C20.7714 10.7386 21.2824 10.7203 21.7824 10.7495C21.8187 10.7532 21.8585 10.7532 21.8948 10.7568C22.3731 10.7934 22.8514 10.87 23.3189 10.9467C23.8081 11.0271 24.2901 11.1038 24.7394 11.1293C25.312 11.1585 25.7215 11.217 26.0331 11.2644C26.2143 11.29 26.3629 11.3119 26.4933 11.3192C26.8955 11.3448 27.0767 11.4689 27.1818 11.6807C27.2543 11.8232 27.2471 11.9291 27.2398 12.1226C27.2362 12.203 27.2289 12.3016 27.2289 12.4221C27.2289 13.1159 27.1818 13.7915 27.0912 14.4634C27.0695 14.6278 27.0441 14.7957 27.0151 14.9601C26.8738 15.7963 26.7071 16.6107 26.4933 17.425C26.2795 18.2394 26.0657 19.0537 25.8265 19.8645C25.6127 20.6788 25.4207 21.4932 25.2794 22.355C25.1779 22.8991 25.0982 23.4615 25.0184 24.0312C24.9858 24.2612 24.9532 24.4913 24.9206 24.725C24.8373 25.5175 24.6452 26.3062 24.4097 27.0987ZM20.5794 47.516C20.1046 47.516 19.6988 47.3955 19.3183 47.1581C18.9632 46.9171 18.6298 46.5811 18.3689 46.2013C18.108 45.8179 17.8942 45.387 17.7528 44.9341C17.6405 44.5763 17.5716 44.2184 17.5499 43.8861C17.5427 43.7948 17.539 43.7071 17.539 43.6195C17.539 43.0461 17.6586 42.5897 17.9195 42.2062C18.1804 41.8228 18.5356 41.4649 18.9668 41.1289C19.1335 41.0084 19.3473 40.939 19.5865 40.866C19.8256 40.8185 20.0612 40.7711 20.3003 40.7455C20.5395 40.7236 20.7279 40.7236 20.92 40.7236C21.1084 40.7236 21.228 40.7455 21.2751 40.7711H21.8223C22.0832 40.8624 22.326 40.9719 22.5507 41.0997C22.9819 41.3444 23.3479 41.6621 23.6306 42.0382C24.0582 42.6116 24.272 43.3054 24.272 44.1198C24.272 44.5945 24.2104 45.0181 24.0835 45.3943C24.0255 45.5695 23.9494 45.7339 23.8625 45.8873C23.6994 46.1721 23.4892 46.4204 23.2247 46.6322C22.5543 47.2311 21.6737 47.516 20.5794 47.516Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -20px;
        animation-name: preloader;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes preloader{
  60%{
    transform: scale(1.5);
  }
  0%, 100% {
    transform: scale(1);
  }
}
