.welcome{
  padding-top: 135px;
  padding-bottom: 110px;
  position: relative;
  z-index: 1;
  &-wrapper{
    width: 100%;
    max-width: 860px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    &:before{
      content: "";
      display: block;
      width: 273px;
      height: 389px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -145px;
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg width='273' height='389' viewBox='0 0 273 389' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M272.61 161.797C272.065 148.868 270.653 135.99 268.524 123.236C265.031 102.22 259.211 80.4064 245.639 63.5593C231.794 46.3876 211.337 31.9365 192.216 21.3539C175.35 12.0193 157.567 3.28377 138.423 1.31203C107.365 -1.90766 76.406 13.5418 55.1311 36.5788C30.0174 63.7589 16.668 102.944 7.77666 138.361C0.866664 165.915 -0.867026 194.793 2.57559 223.021C4.23498 236.624 6.76121 250.65 11.566 263.479C16.2965 276.108 18.9961 290.185 25.6337 302.065C33.5591 316.267 45.1005 328.372 58.4004 337.532C95.7986 363.314 145.927 372.724 186.991 350.61C186 351.159 202.718 369.28 204.377 370.702C212.773 377.766 222.531 383.157 232.958 386.426C235.162 387.125 244.723 390.095 246.06 387C247.125 384.529 240.76 379.812 239.447 378.29C228.599 365.885 220.5 351.035 215.918 335.161C215.002 331.991 214.21 328.622 214.928 325.402C216.637 317.64 225.28 314.046 229.887 308.28C236.054 300.518 241.552 291.807 246.382 283.122C256.982 264.028 264.264 243.113 268.4 221.648C272.239 201.956 273.452 181.864 272.61 161.797ZM163.214 181.639L153.778 242.489C153.605 243.462 153.283 244.785 152.787 246.582C152.49 247.68 152.193 248.679 151.921 249.527C151.772 250.076 151.599 250.551 151.475 251C150.979 250.675 149.84 250.501 147.908 250.351C145.952 250.201 144.664 250.201 143.995 250.201C143.847 250.201 143.351 250.201 142.707 250.026C142.361 249.952 141.989 249.902 141.568 249.852C141.196 249.802 140.8 249.777 140.429 249.702C139.463 249.552 138.794 249.552 138.002 249.552H131.983C131.983 249.377 131.934 249.103 131.859 248.704C131.81 248.379 131.735 247.955 131.661 247.431L131.166 243.986C131.092 243.437 131.042 242.888 131.017 242.339C130.968 241.765 130.943 241.216 130.844 240.717C130.67 239.718 130.67 238.92 130.67 238.421C130.67 237.597 130.67 235.475 130.349 231.881C130.175 229.91 130.051 227.863 129.903 225.766C129.804 224.044 129.68 222.272 129.531 220.425C129.383 218.578 129.284 216.806 129.16 215.084C129.036 212.988 128.887 210.941 128.714 208.969C128.615 207.896 128.516 206.923 128.441 206.074C128.293 204.252 128.169 203.004 128.07 202.43C127.996 201.681 127.897 200.783 127.798 199.709C127.649 198.187 127.451 196.365 127.253 194.268C127.005 191.348 126.658 188.253 126.287 184.934C126.188 183.96 126.064 182.987 125.965 181.989C125.469 177.396 124.999 172.829 124.504 167.912C124.008 162.995 123.513 158.428 123.042 154.16C122.894 152.812 122.77 151.514 122.621 150.266C122.324 147.471 122.076 144.975 121.73 142.704C121.507 140.457 121.284 138.585 121.11 137.163C121.036 136.514 120.962 135.965 120.912 135.49C119.624 125.682 118.138 116.172 116.355 107.187C115.34 102.096 114.646 96.9042 114.225 91.588C113.903 87.5197 113.755 83.4015 113.755 79.2084L113.061 75.215C113.061 75.215 112.492 72.7691 113.755 71.1967C115.018 69.6243 119.723 69.6242 125.915 69.9487C128.763 70.0985 131.835 69.9986 134.955 69.9238C138.348 69.8239 141.84 69.6991 145.258 69.8988C145.506 69.9238 145.778 69.9238 146.026 69.9487C149.295 70.1983 152.564 70.7224 155.759 71.2466C159.103 71.7957 162.397 72.3198 165.468 72.4945C169.381 72.6942 172.18 73.0935 174.31 73.418C175.548 73.5927 176.564 73.7424 177.455 73.7924C180.204 73.9671 181.443 74.8157 182.161 76.2633C182.656 77.2367 182.607 77.9605 182.557 79.2833C182.533 79.8324 182.483 80.5063 182.483 81.3299C182.483 86.0721 182.161 90.6895 181.542 95.2819C181.393 96.405 181.22 97.5531 181.022 98.6763C180.056 104.392 178.917 109.958 177.455 115.523C175.994 121.089 174.533 126.655 172.898 132.196C171.437 137.762 170.124 143.328 169.158 149.218C168.465 152.937 167.92 156.78 167.375 160.674C167.152 162.246 166.929 163.819 166.706 165.416C166.137 170.832 164.824 176.223 163.214 181.639ZM137.036 321.184C133.791 321.184 131.017 320.36 128.417 318.738C125.99 317.091 123.711 314.795 121.928 312.199C120.145 309.578 118.683 306.633 117.717 303.538C116.95 301.092 116.479 298.646 116.33 296.375C116.281 295.751 116.256 295.152 116.256 294.553C116.256 290.634 117.073 287.515 118.857 284.894C120.64 282.273 123.067 279.827 126.014 277.531C127.154 276.707 128.615 276.233 130.249 275.734C131.884 275.409 133.494 275.085 135.129 274.91C136.763 274.761 138.051 274.761 139.364 274.761C140.652 274.761 141.469 274.91 141.791 275.085H145.531C147.314 275.709 148.973 276.458 150.509 277.331C153.456 279.004 155.958 281.175 157.889 283.746C160.812 287.664 162.273 292.406 162.273 297.972C162.273 301.217 161.852 304.112 160.985 306.683C160.589 307.881 160.069 309.004 159.475 310.052C158.36 311.999 156.923 313.696 155.115 315.144C150.534 319.237 144.515 321.184 137.036 321.184Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }
  &-heading{
    svg{
      max-width: 100%;
      margin-bottom: -10px;
    }
  }
  &-subheading{
    @include p1;
  }
}

.clients{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  &-header, &-list{
    display: flex;
    align-items: center;
    background-color: map-get($colors, secondary-light);
    height: 150px;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
  }
  &-header{
    justify-content: flex-end;
    width: calc(30% - 15px);
    min-width: 220px;
  }
  &-list{
    width: 70%;
    padding: 0;
    padding-left: 30px;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
    .swiper-slide{
      display: flex;
      align-items: center;
      width: auto;
    }
  }
  &-item{
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }
  &--bg{
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='231' height='215' viewBox='0 0 231 215' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M199.459 139.211C196.688 140.388 193.963 141.553 191.238 142.718C184.487 145.59 177.858 148.381 171.461 151.496C161.316 156.099 151.925 161.176 142.607 166.524C133.373 172.187 124.055 177.535 114.781 182.87C105.463 188.218 95.9877 192.979 86.1578 197.498C84.2303 198.401 82.2456 199.271 80.2939 200.084C72.2862 203.486 64.1095 206.256 55.6078 208.534C54.1234 208.932 52.9659 209.291 51.9555 209.658C49.6077 210.432 48.3153 210.827 46.3194 210.395C43.3601 209.787 41.2267 207.943 39.571 203.023C39.0461 201.424 38.281 199.648 37.3621 197.478C35.7835 193.746 33.6538 188.856 31.3853 181.83C29.5725 176.324 27.0334 170.626 24.4009 164.76C21.886 159.153 19.3468 153.455 17.3145 147.67C17.1488 147.231 17.0159 146.735 16.8501 146.296C14.8232 140.171 13.2999 133.767 11.8699 127.53C10.5157 121.756 9.20985 116.163 7.50581 111.063C3.91319 99.9944 1.60597 91.3837 3.82379 88.3252C6.04161 85.2666 10.7277 85.1223 10.7277 85.1223L18.2631 84.4562C25.8202 82.4313 33.3147 80.713 40.8039 79.3344C50.5905 77.5336 60.285 76.2888 69.9567 75.6784C87.065 74.5732 104.871 72.6529 123.189 70.3054C124.068 70.1666 125.094 70.0366 126.3 69.8585C128.948 69.4871 132.431 68.9888 136.588 68.3098C140.85 67.8441 145.469 67.0897 150.652 66.2807C152.962 65.9035 155.373 65.5472 157.875 65.1668C165.764 64.0195 174.282 62.7034 183.373 61.1855C192.464 59.6676 200.937 58.3636 209.456 57.0475C211.303 56.7457 213.118 56.501 214.921 56.2113C221.084 55.2845 226.831 54.421 232.215 53.4617C236.09 52.8099 239.504 52.2335 242.287 51.8259C244.27 51.488 245.937 51.2344 247.323 51.008C248.361 50.9232 250.67 50.546 254.072 49.9245C255.637 49.65 257.44 49.3602 259.422 49.0223C263.061 48.3857 266.822 47.6678 270.661 46.8808C273.813 46.2295 277.067 45.5991 280.468 44.9777C283.869 44.3563 287.123 43.7259 290.275 43.0746C294.114 42.2875 297.83 41.5817 301.513 40.9331C308.148 39.7835 311.971 38.759 313.456 38.3613C314.356 38.1202 315.795 37.7345 317.679 37.568C318.615 37.4621 319.628 37.2871 320.687 37.1001C321.644 36.8921 322.658 36.7171 323.729 36.5751L330.178 35.8134C331.159 35.6956 331.959 35.6259 332.568 35.5594C333.324 35.5018 333.843 35.4594 334.158 35.375L337.094 46.3299C337.492 47.8176 337.806 48.9898 338.547 50.6757C338.876 51.3608 339.147 52.0129 339.373 52.6771C339.656 53.3743 339.894 54.0836 340.243 54.6665C340.872 55.7543 341.114 56.6559 341.186 56.9264C341.501 58.0986 342.141 60.4879 343.365 63.9771C344.589 67.4662 345.46 69.4557 346.274 70.1555C345.525 70.5979 344.697 71.1094 343.837 71.6781C342.441 72.5838 340.787 73.6069 338.952 74.6782C335.955 76.4477 333.773 77.6605 332.058 78.4582L257.935 111.124L226.9 124.851C217.982 130.43 208.894 135.378 199.459 139.211Z' fill='%237E4DBC'/%3E%3C/svg%3E");
      width: 231px;
      height: 215px;
      right: 0;
      top: -170px;
    }
  }
}

.skills{
  padding-top: 70px;
  padding-bottom: 100px;
  &-list{
    width: 100%;
    max-width: 1160px;
    box-sizing: border-box;
    padding: 0 15px;
    list-style: none;
    margin: 0 auto;
  }
  &-item{
    display: inline;
  }
  &-link{
    @include h2;
    font-size: 48px;
    text-decoration: none;
    transition: 0.2s ease-out;
    &--common{
      color: map-get($colors, dark);
      -webkit-text-stroke: 1px map-get($colors, dark);
      -webkit-text-fill-color: map-get($colors, light);
      &:hover{
        color: map-get($colors, accent1);
        -webkit-text-stroke: unset;
        -webkit-text-fill-color: unset;
        //-webkit-text-fill-color: map-get($colors, accent1);
      }
    }
    &--all{
      color: map-get($colors, accent2);
      &:hover{
        color: map-get($colors, accent1);
      }
    }
  }
}

.projects{
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  &-wrapper{
    width: 865px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
  }
  .project{
    margin-bottom: 130px;
    height: 570px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-actions{
    text-align: center;
  }
  &-btn{
    @include h4;
    position: relative;
    padding-left: 50px;
    &:before{
      content: "";
      display: block;
      width: 105px;
      height: 105px;
      background-image: url("data:image/svg+xml,%3Csvg width='105' height='105' viewBox='0 0 105 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8395 90.9242C12.7623 87.6883 9.52287 83.8945 7.00953 79.5428C5.66908 77.1996 4.49619 74.689 3.60255 72.011C1.64773 66.2646 0.698242 59.737 0.698242 52.54C0.698242 40.0986 3.99352 29.4983 10.5841 20.7392C14.9405 14.9927 20.5257 10.1389 27.228 6.40089C30.6908 4.44821 34.4329 2.77448 38.4543 1.37971H46.8879C47.614 0.933378 49.4571 0.598633 52.3614 0.598633C55.3216 0.598633 58.2259 0.598633 61.9121 0.933378C65.5984 1.26812 69.2288 2.0492 72.915 2.77448C76.6012 3.8903 79.8965 4.95033 82.4657 6.79143C89.0563 11.9242 94.5298 17.3917 98.607 23.2498C102.628 29.1078 104.471 36.0259 104.471 44.8408C104.471 46.1798 104.416 47.5188 104.304 48.9136C103.969 54.0463 102.908 59.5139 101.176 64.9256C98.9979 71.8437 95.7027 78.4828 91.6813 84.285C87.66 90.1431 82.5216 95.2758 77.0481 98.9023C71.1836 102.529 64.9282 104.37 57.6115 104.37C40.6325 104.481 27.1163 100.074 16.8395 90.9242Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @extend .moving3;
    }
  }
  &-title{
    background-image: url("data:image/svg+xml,%3Csvg width='231' height='181' viewBox='0 0 231 181' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M0.220047 75.0668C0.681992 69.0397 1.87885 63.0359 3.68463 57.0903C6.64528 47.2933 11.5797 37.1241 23.0863 29.2702C34.8239 21.2651 52.1679 14.5283 68.378 9.59494C82.6773 5.24333 97.7535 1.17098 113.985 0.251786C140.315 -1.24917 166.562 5.95309 184.599 16.6925C205.891 29.3633 217.208 47.6307 224.747 64.1412C230.605 76.9866 232.075 90.4487 229.156 103.608C227.749 109.949 225.607 116.488 221.534 122.469C217.523 128.356 215.235 134.919 209.607 140.457C202.888 147.078 193.103 152.721 181.828 156.991C150.121 169.01 107.622 173.397 72.8084 163.088C73.6483 163.344 59.475 171.791 58.0682 172.454C50.95 175.747 42.677 178.26 33.8371 179.785C31.9683 180.11 23.8632 181.495 22.7294 180.052C21.8265 178.9 27.2228 176.701 28.3357 175.991C37.5326 170.209 44.3988 163.286 48.2833 155.886C49.0603 154.408 49.7322 152.837 49.1232 151.336C47.6744 147.718 40.3463 146.042 36.4407 143.354C31.2124 139.736 26.5509 135.675 22.4564 131.626C13.4695 122.725 7.2962 112.975 3.78963 102.968C0.535004 93.788 -0.493881 84.4216 0.220047 75.0668Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 231px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 231px 181px;
    color: map-get($colors, light);
    position: absolute;
    z-index: 5;
    left: -60px;
    top: -120px;
    @extend .shake;
  }
  &:before{
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='81' viewBox='0 0 80 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4435 70.3034C9.30032 67.8089 6.80301 64.8842 4.86545 61.5294C3.83208 59.723 2.92788 57.7876 2.23897 55.7231C0.73197 51.2931 0 46.2609 0 40.7126C0 31.1214 2.54037 22.9495 7.6211 16.197C10.9795 11.767 15.2853 8.0251 20.4521 5.14344C23.1216 3.63809 26.0065 2.3478 29.1066 1.27255H35.6082C36.1679 0.92847 37.5888 0.67041 39.8278 0.67041C42.1098 0.67041 44.3488 0.67041 47.1905 0.92847C50.0323 1.18653 52.831 1.78867 55.6728 2.3478C58.5145 3.20799 61.0549 4.02518 63.0355 5.44451C68.1162 9.40142 72.3358 13.6164 75.479 18.1324C78.5791 22.6485 80 27.9817 80 34.7773C80 35.8095 79.9569 36.8417 79.8708 37.917C79.6125 41.8739 78.7944 46.0889 77.4596 50.2608C75.7804 55.594 73.24 60.7122 70.1399 65.1852C67.0398 69.7013 63.0786 73.6582 58.859 76.4538C54.338 79.2495 49.5156 80.6688 43.8751 80.6688C30.7858 80.7548 20.366 77.357 12.4435 70.3034Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
    width: 80px;
    height: 81px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
    top: 50px;
    @extend .moving2;
  }
}

.reviews{
  padding-top: 50px;
  margin-left: 20%;
  padding-bottom: 100px;
  &-title{
    margin-bottom: 80px;
  }
  &-slider{
    margin-bottom: 120px;
  }
  &-actions{
    text-align: center;
    margin-right: 20%;
  }
  &-btn{
    @include h3;
  }
}

.posts{
  padding-top: 100px;
  padding-bottom: 80px;
  margin-left: 20%;
  position: relative;
  &-title{
    position: absolute;
    z-index: 5;
    top: 35px;
    left: -55px;
    width: 420px;
    max-width: 100%;
    height: 132px;
    display: flex;
    padding-left: 55px;
    padding-bottom: 10px;
    align-items: center;
    box-sizing: border-box;
    color: map-get($colors, light);
    &:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -2;
      width: 367px;
      height: 281px;
      background-image: url("../images/illustration/girl.png");
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 420px 132px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='420' height='132' viewBox='0 0 420 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M158.807 95.3373C156.158 95.5978 153.549 95.86 150.941 96.1222C144.482 96.7598 138.149 97.3616 131.926 98.2952C122.146 99.4933 112.878 101.285 103.6 103.322C94.3106 105.645 85.0326 107.682 75.7958 109.72C66.5178 111.757 57.2615 113.263 47.7697 114.473C45.9039 114.725 43.9987 114.933 42.1363 115.103C34.4774 115.856 26.8418 116.036 19.0614 115.72C17.703 115.665 16.631 115.662 15.6809 115.705C13.4941 115.739 12.2986 115.731 10.7264 114.849C8.38693 113.567 7.07034 111.468 6.96656 106.922C6.94402 105.448 6.76513 103.763 6.56002 101.709C6.20888 98.1754 5.69675 93.5308 5.62987 87.0631C5.54767 81.9859 4.90244 76.5585 4.22269 70.966C3.57414 65.6203 2.92892 60.1929 2.73485 54.8247C2.7103 54.4145 2.72857 53.9652 2.70401 53.555C2.60391 47.9042 3.00277 42.151 3.43616 36.5629C3.81177 31.3816 4.18074 26.3636 4.0836 21.6541C3.96204 11.4606 4.27929 3.65816 6.95745 1.68023C9.63561 -0.297683 13.6317 0.8059 13.6317 0.8059L20.1717 2.21754C27.0875 2.49874 33.8699 3.02003 40.5584 3.82392C49.2985 4.87491 57.8144 6.36687 66.1442 8.38321C80.8854 11.9287 96.4304 14.9749 112.521 17.7978C113.299 17.9113 114.2 18.0707 115.265 18.2368C117.6 18.6181 120.673 19.1113 124.363 19.6296C128.086 20.3539 132.186 20.9297 136.776 21.6074C138.826 21.8954 140.957 22.2275 143.17 22.563C150.135 23.6646 157.676 24.7896 165.754 25.8955C173.832 27.0014 181.332 28.1247 188.874 29.2497C190.514 29.48 192.111 29.7496 193.71 29.9783C199.16 30.8136 204.241 31.5931 209.041 32.1974C212.486 32.6649 215.52 33.0747 217.978 33.4611C219.742 33.6964 221.217 33.9201 222.447 34.0929C223.346 34.2931 225.396 34.581 228.433 34.95C229.827 35.1295 231.426 35.3581 233.19 35.5935C236.43 36.0117 239.796 36.3941 243.245 36.7389C246.079 37.0178 248.994 37.3409 252.03 37.7099C255.066 38.0788 257.981 38.4019 260.814 38.6808C264.264 39.0257 267.589 39.4064 270.87 39.8262C276.776 40.5983 280.276 40.7406 281.634 40.7958C282.457 40.8293 283.775 40.8829 285.41 41.2358C286.228 41.3918 287.13 41.5103 288.074 41.6305C288.937 41.7065 289.839 41.8251 290.781 41.9861L296.428 43.0341C297.288 43.1918 297.983 43.3428 298.515 43.4463C299.168 43.5956 299.618 43.6957 299.906 43.7075L299.502 53.6341C299.447 54.9822 299.404 56.0443 299.587 57.6475C299.683 58.3061 299.741 58.9222 299.757 59.5367C299.813 60.1936 299.827 60.8489 299.969 61.4275C300.214 62.5013 300.181 63.3184 300.171 63.5635C300.127 64.6256 300.039 66.7906 300.155 70.0279C300.271 73.2651 300.483 75.1559 300.986 75.9539C300.237 76.128 299.404 76.3396 298.528 76.5904C297.11 76.9829 295.443 77.4061 293.612 77.8227C290.615 78.5192 288.453 78.9632 286.794 79.1822L215.59 87.1302L185.765 90.5003C176.763 92.8349 167.785 94.5976 158.807 95.3373ZM406.547 86.0564C404.038 88.9414 401.142 91.1969 397.856 92.9046C396.088 93.8147 394.2 94.5973 392.198 95.1705C387.9 96.4279 383.055 96.9265 377.745 96.7106C368.565 96.3373 360.841 93.6091 354.574 88.526C350.463 85.1672 347.048 80.9366 344.489 75.9223C343.152 73.331 342.028 70.5438 341.118 67.5608L341.369 61.3923C341.144 60.8512 340.91 59.4915 340.997 57.3672C341.085 55.2021 341.171 53.0779 341.528 50.3918C341.884 47.7057 342.569 45.0739 343.213 42.3995C344.146 39.7369 345.027 37.3585 346.461 35.5346C350.445 30.8682 354.642 27.0289 359.085 24.2226C363.527 21.4571 368.687 20.3166 375.191 20.5811C376.179 20.6213 377.165 20.7023 378.191 20.8258C381.968 21.2249 385.971 22.1651 389.913 23.5939C394.952 25.3946 399.753 28.0039 403.915 31.1192C408.118 34.2362 411.752 38.1485 414.265 42.2606C416.766 46.6587 417.939 51.2892 417.721 56.6406C417.216 69.0592 413.603 78.8144 406.547 86.0564Z' fill='%237E4DBC'/%3E%3C/svg%3E");
      @extend .shake;
    }
  }
  &-slider{
    margin-bottom: 80px;
    .post{
      width: 370px;
    }
  }
  &-actions{
    text-align: center;
    margin-right: 20%;
  }
  &-btn{
    @include h4;
    position: relative;
    padding-left: 50px;
    &:before{
      content: "";
      display: block;
      width: 105px;
      height: 105px;
      background-image: url("data:image/svg+xml,%3Csvg width='105' height='105' viewBox='0 0 105 105' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8395 90.9242C12.7623 87.6883 9.52287 83.8945 7.00953 79.5428C5.66908 77.1996 4.49619 74.689 3.60255 72.011C1.64773 66.2646 0.698242 59.737 0.698242 52.54C0.698242 40.0986 3.99352 29.4983 10.5841 20.7392C14.9405 14.9927 20.5257 10.1389 27.228 6.40089C30.6908 4.44821 34.4329 2.77448 38.4543 1.37971H46.8879C47.614 0.933378 49.4571 0.598633 52.3614 0.598633C55.3216 0.598633 58.2259 0.598633 61.9121 0.933378C65.5984 1.26812 69.2288 2.0492 72.915 2.77448C76.6012 3.8903 79.8965 4.95033 82.4657 6.79143C89.0563 11.9242 94.5298 17.3917 98.607 23.2498C102.628 29.1078 104.471 36.0259 104.471 44.8408C104.471 46.1798 104.416 47.5188 104.304 48.9136C103.969 54.0463 102.908 59.5139 101.176 64.9256C98.9979 71.8437 95.7027 78.4828 91.6813 84.285C87.66 90.1431 82.5216 95.2758 77.0481 98.9023C71.1836 102.529 64.9282 104.37 57.6115 104.37C40.6325 104.481 27.1163 100.074 16.8395 90.9242Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @extend .moving3;
    }
  }
}

