.services{
  padding-top: 35px;
  &-container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}