.testimonials{
  padding-top: 100px;
  overflow: hidden;
  &-wrapper{
    width: 1180px;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .review{
    align-self: flex-start;
    margin-bottom: 80px;
    position: relative;
    &-position{
      @include p2;
    }
    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
    }
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='61' height='60' viewBox='0 0 61 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71152 51.572C7.35415 49.7244 5.48117 47.5583 4.02799 45.0737C3.25296 43.7358 2.57482 42.3024 2.05813 40.7734C0.927884 37.4924 0.378906 33.7655 0.378906 29.6563C0.378906 22.5528 2.28418 16.5005 6.09473 11.4994C8.61357 8.21838 11.8428 5.44707 15.718 3.31284C17.7201 2.19794 19.8837 1.24231 22.2088 0.445959H27.085C27.5048 0.191125 28.5705 0 30.2497 0C31.9613 0 33.6405 0 35.7718 0.191125C37.9031 0.38225 40.0022 0.828209 42.1335 1.24231C44.2648 1.8794 46.1701 2.48463 47.6555 3.53582C51.4661 6.4664 54.6308 9.58811 56.9882 12.9328C59.3132 16.2775 60.3789 20.2274 60.3789 25.2604C60.3789 26.0249 60.3466 26.7894 60.282 27.5857C60.0883 30.5163 59.4747 33.638 58.4736 36.7279C57.2142 40.6778 55.3089 44.4685 52.9839 47.7813C50.6588 51.126 47.6878 54.0566 44.5231 56.1271C41.1324 58.1976 37.5156 59.2488 33.2853 59.2488C23.4682 59.3125 15.6534 56.796 9.71152 51.572Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      width: 61px;
      height: 60px;
    }
    &:after{
      background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.60065 34.8165C5.02907 33.5692 3.78041 32.1069 2.81163 30.4295C2.29495 29.5263 1.84285 28.5586 1.49839 27.5263C0.744891 25.3113 0.378906 22.7952 0.378906 20.0211C0.378906 15.2255 1.64909 11.1396 4.18946 7.76329C5.86868 5.54828 8.02153 3.67735 10.605 2.23651C11.9397 1.48384 13.3821 0.838693 14.9322 0.301069H18.183C18.4629 0.12903 19.1733 0 20.2928 0C21.4338 0 22.5533 0 23.9742 0.12903C25.3951 0.258059 26.7944 0.559129 28.2153 0.838693C29.6362 1.26879 30.9064 1.67739 31.8967 2.38705C34.437 4.3655 36.5468 6.47299 38.1184 8.73101C39.6685 10.989 40.3789 13.6556 40.3789 17.0534C40.3789 17.5695 40.3574 18.0857 40.3143 18.6233C40.1852 20.6017 39.7761 22.7092 39.1087 24.7952C38.2691 27.4618 36.9989 30.0209 35.4489 32.2574C33.8988 34.5154 31.9182 36.4939 29.8084 37.8917C27.5479 39.2895 25.1367 39.9992 22.3165 39.9992C15.7718 40.0422 10.5619 38.3433 6.60065 34.8165Z' fill='%23FF6B00'/%3E%3C/svg%3E%0A");
      width: 41px;
      height: 40px;
    }
    &:nth-child(odd){
       &:before{
         top: 10px;
         left: 300px;
         z-index: -1;
       }
      &:after{
        top: 170px;
        left: 420px;
        z-index: -1;
      }
     }
    &:last-child{
      margin-bottom: 0;
    }
    &:nth-of-type(even){
      align-self: flex-end;
      &:before{
        top: 50px;
        left: 240px;
        z-index: -1;
      }
      &:after{
        top: 170px;
        left: 310px;
        z-index: -1;
      }
    }

  }
}