.thankyou{
  height: calc(100vh - 80px);
  overflow: hidden;
  &-cta{
    padding: 160px 0;
    position: relative;
    .cta-title{
      @include h2;
      top: 190px;
    }
    .cta-btn{
      &:hover{
        color: map-get($colors, light);
      }
    }
    &:before, &:after{
      content: '';
      display: block;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
    }
    &:before{
      background-image: url("../images/illustration/girl2.png");
      width: 376px;
      height: 269px;
      bottom: 0;
      left: 5%;
    }
    &:after{
      background-image: url('../images/illustration/thankyou/thankyou-1.png');
      width: 430px;
      height: 348px;
      bottom: 210px;
      right: 0;
    }
  }
  &:before, &:after{
    content: '';
    display: block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
  &:before{
    background-image: url("data:image/svg+xml,%3Csvg width='126' height='140' viewBox='0 0 126 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M102.046 121.278C108.097 116.933 112.904 111.839 116.634 105.996C118.623 102.85 120.364 99.479 121.69 95.8834C124.591 88.1678 126 79.4034 126 69.7402C126 53.0355 121.11 38.8028 111.329 27.0421C104.864 19.3265 96.5759 12.8094 86.6297 7.79053C81.4909 5.16871 75.9376 2.92145 69.9699 1.04872H57.4543C56.3768 0.449453 53.6416 0 49.3315 0C44.9386 0 40.6286 0 35.1582 0.449453C29.6878 0.898907 24.3003 1.94763 18.8299 2.92145C13.3595 4.41963 8.46933 5.84289 4.65663 8.31489C-5.12378 15.2065 -13.2465 22.5476 -19.2971 30.413C-25.2648 38.2784 -28 47.5672 -28 59.4028C-28 61.2006 -27.9171 62.9984 -27.7513 64.8711C-27.254 71.7627 -25.6792 79.1038 -23.1098 86.37C-19.8773 95.6587 -14.9871 104.573 -9.01936 112.363C-3.05165 120.229 4.57375 127.12 12.6965 131.989C21.3994 136.859 30.6825 139.331 41.5404 139.331C66.7374 139.48 86.7955 133.563 102.046 121.278Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 126px;
    height: 140px;
    top: 140px;
    left: 0;
  }
  &:after{
    background-image: url("data:image/svg+xml,%3Csvg width='313' height='225' viewBox='0 0 313 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M207.834 145.689C204.935 146.921 202.083 148.14 199.231 149.36C192.165 152.366 185.228 155.286 178.533 158.547C167.917 163.363 158.089 168.677 148.337 174.273C138.673 180.2 128.921 185.797 119.216 191.381C109.464 196.977 99.548 201.96 89.2607 206.689C87.2434 207.634 85.1664 208.544 83.1239 209.395C74.7436 212.955 66.1863 215.855 57.289 218.239C55.7355 218.655 54.5241 219.031 53.4667 219.415C51.0096 220.225 49.657 220.638 47.5683 220.186C44.4712 219.55 42.2386 217.62 40.5058 212.471C39.9565 210.798 39.1558 208.939 38.1942 206.668C36.542 202.762 34.3132 197.645 31.9392 190.292C30.0421 184.53 27.3848 178.567 24.6298 172.428C21.9978 166.559 19.3405 160.597 17.2136 154.542C17.0401 154.083 16.9011 153.564 16.7276 153.105C14.6064 146.695 13.0122 139.992 11.5156 133.465C10.0984 127.423 8.73178 121.569 6.94844 116.232C3.18863 104.648 0.774036 95.6366 3.09507 92.4357C5.4161 89.2349 10.3203 89.0838 10.3203 89.0838L18.2064 88.3867C26.1151 86.2675 33.9584 84.4693 41.7961 83.0266C52.0381 81.1419 62.1838 79.8393 72.3056 79.2004C90.2101 78.0437 108.845 76.0341 128.016 73.5774C128.935 73.4321 130.009 73.2961 131.271 73.1097C134.043 72.7209 137.687 72.1995 142.038 71.4889C146.498 71.0015 151.332 70.212 156.757 69.3654C159.174 68.9706 161.697 68.5977 164.315 68.1997C172.571 66.9989 181.486 65.6215 191 64.033C200.514 62.4445 209.382 61.0798 218.296 59.7024C220.23 59.3866 222.129 59.1305 224.016 58.8273C230.466 57.8574 236.481 56.9538 242.115 55.9498C246.171 55.2676 249.743 54.6644 252.656 54.2379C254.73 53.8842 256.476 53.6188 257.926 53.382C259.012 53.2932 261.429 52.8984 264.989 52.248C266.627 51.9607 268.514 51.6575 270.589 51.3038C274.396 50.6376 278.332 49.8863 282.35 49.0626C285.648 48.381 289.054 47.7213 292.613 47.071C296.173 46.4206 299.578 45.7609 302.877 45.0793C306.895 44.2556 310.784 43.517 314.638 42.8381C321.582 41.635 325.583 40.5629 327.137 40.1466C328.078 39.8943 329.584 39.4907 331.556 39.3164C332.535 39.2057 333.596 39.0225 334.704 38.8268C335.706 38.609 336.767 38.4259 337.887 38.2773L344.637 37.4802C345.663 37.3569 346.501 37.284 347.139 37.2143C347.93 37.1541 348.473 37.1097 348.802 37.0214L351.874 48.4861C352.291 50.0431 352.62 51.2697 353.396 53.0341C353.739 53.7511 354.023 54.4336 354.26 55.1287C354.556 55.8583 354.805 56.6006 355.171 57.2107C355.829 58.3491 356.082 59.2927 356.158 59.5757C356.486 60.8024 357.156 63.303 358.437 66.9545C359.719 70.6061 360.63 72.688 361.482 73.4205C360.698 73.8834 359.832 74.4188 358.932 75.0139C357.47 75.9618 355.739 77.0325 353.819 78.1537C350.683 80.0055 348.399 81.2748 346.605 82.1096L269.032 116.296L236.553 130.662C227.219 136.5 217.708 141.678 207.834 145.689Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 313px;
    height: 225px;
    top: 50px;
    right: 0;
  }
}

@media only screen and (max-width: 1900px){
  .thankyou{
    height: auto;
    overflow-x: hidden;
    &-cta{
      &:before{
        left: -150px;
      }
      &:after{
        bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1300px){
  .thankyou{
    &-cta{
      padding: 160px 0 50px;
      &:before, &:after{
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 991px){
  .thankyou{
    &:before, &:after{
      display: none;
    }
    &-cta{
      padding: 100px 0 50px;
      .cta-title{
        @include h4;
        top: 100px;
      }
    }
  }
}

@media only screen and (max-width: 576px){
  .thankyou{
    &:before, &:after{
      display: block;
    }
    &:after{
      width: 93px;
      height: 80px;
    }
    &:before{
      width: 56px;
      height: 64px;
      top: 450px;
    }
    &-cta{
      padding: 100px 0 50px;
      .cta-title{
        @include h5;
        top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 374px){
  .thankyou{
    &-cta{
      .cta-title, .cta-btn{
        @include h6;
      }
      .cta-title{
        top: 70px;
      }
    }
  }
}
