.btn{
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:focus{
    outline: none;
  }
  &--small{
    @include p2;
    span{
      margin-right: 16px;
    }
    .arr{
      color: map-get($colors, secondary-dark);
      transition: 0.2s ease-in-out;
    }
    .arr-prev{
      margin-right: 16px;
    }
    &:hover{
      .arr-next{
        transform: translateX(10px);
        color: map-get($colors, accent1);
      }
    }
    &:focus, &:active{
      color: map-get($colors, accent1);
    }
  }
  &--large{
    @include h3;
    text-transform: uppercase;
    color: map-get($colors, dark);
    span{
      margin-right: 32px;
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='202' height='13' viewBox='0 0 202 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M105.318 8.85177C103.529 8.89737 101.769 8.94297 100.008 8.98857C95.6483 9.10004 91.3724 9.20644 87.1803 9.35338C80.5848 9.55099 74.3527 9.81953 68.1205 10.1185C61.8883 10.4529 55.6561 10.7518 49.4519 11.0508C43.2197 11.3497 36.9875 11.5828 30.5877 11.7804C29.3301 11.8209 28.0445 11.8564 26.7869 11.8868C21.6167 12.0185 16.4465 12.0793 11.1645 12.0793C10.2423 12.0793 9.51564 12.0844 8.87286 12.0945C7.39167 12.1097 6.58121 12.1148 5.49128 12.0135C3.87035 11.8665 3.28991 12.9049 3.09428 12.3425C3.03839 12.1601 3.04104 12.3465 2.72431 12.37C2.50323 12.3865 2.49178 12.3874 2.3242 12.2494C1.80758 12.3564 2.00658 12.1845 1.79296 12.1397C1.20607 11.481 0.619185 10.8122 0.339715 10.1484C0.311768 10.0977 0.311768 10.042 0.283821 9.99133C0.060245 9.29212 0.172033 8.5777 0.311768 7.88355C0.423556 7.24007 0.535344 6.61685 0.339715 6.03417C-0.023596 4.77254 -0.023596 3.80479 1.73706 3.54638C3.49773 3.28797 6.23653 3.40451 6.23653 3.40451L10.708 3.54638C15.4031 3.54638 20.0144 3.57678 24.5698 3.64265C30.5225 3.72878 36.3354 3.87065 42.0366 4.07839C52.1255 4.44319 62.7454 4.74213 73.7285 5.01067C74.2595 5.0208 74.8744 5.036 75.601 5.0512C77.194 5.08667 79.29 5.13227 81.8052 5.17787C84.3484 5.24881 87.1431 5.29947 90.2731 5.36028C91.6705 5.38561 93.1237 5.41601 94.6329 5.44641C99.3839 5.54775 108.092 1.45523 113.598 1.5515C119.104 1.64777 118.733 0.41556 123.875 0.516895C124.993 0.537162 126.083 0.562497 127.173 0.582764C130.889 0.658765 134.355 0.729699 137.625 0.780366C139.972 0.8209 142.04 0.856368 143.717 0.891835C144.919 0.912102 145.925 0.932368 146.763 0.947568C147.378 0.967835 148.776 0.993169 150.844 1.02357C151.794 1.03877 152.884 1.05904 154.085 1.0793C156.293 1.11477 158.585 1.14517 160.932 1.17051C162.861 1.19077 164.845 1.21611 166.913 1.24651C168.981 1.27691 170.965 1.30224 172.894 1.32251C175.241 1.34784 177.505 1.37824 179.741 1.41371C183.765 1.47957 186.141 1.47958 187.063 1.47958C187.622 1.47958 188.516 1.47957 189.634 1.51504C190.193 1.53024 190.808 1.54038 191.451 1.55051C192.037 1.55558 192.652 1.56571 193.295 1.58091L197.152 1.68224C197.739 1.69744 198.214 1.71264 198.577 1.72278C199.024 1.73798 199.332 1.74811 199.527 1.74811V2.97934C199.527 3.14655 199.527 3.27828 199.695 3.47589C199.779 3.55696 199.835 3.63296 199.863 3.70896C199.919 3.79003 199.946 3.8711 200.058 3.94203C200.254 4.07377 200.254 4.1751 200.254 4.20551C200.254 4.33724 200.254 4.60578 200.422 5.00606C200.589 5.40634 200.785 5.63941 201.148 5.73568C200.645 5.76101 200.086 5.79141 199.499 5.82688C198.549 5.88261 197.431 5.94341 196.202 6.00422C194.189 6.10555 192.736 6.17142 191.618 6.20689L143.577 7.5496L123.456 8.11708C117.419 8.45149 111.382 8.71496 105.318 8.85177Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        transform: scaleX(0);
        height: 13px;
        transition: 0.25s ease-in-out;
      }
    }
    .arr{
      color: map-get($colors, accent1);
    }

    &:hover{
      span:after{
        transform: scaleX(1);
      }
    }
    &:focus, &:active{
      color: map-get($colors, accent1);
    }
  }
}