.cta{
  padding-top: 200px;
  padding-bottom: 160px;
  &-container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  &-left, &-right{
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &-left{
    background-image: url("data:image/svg+xml,%3Csvg width='675' height='529' viewBox='0 0 675 529' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M0.63031 219.378C1.98242 201.761 5.48578 184.212 10.7714 166.834C19.4374 138.198 33.8806 108.475 67.5612 85.5187C101.918 62.1206 152.685 42.4295 200.132 28.0097C241.987 15.2904 286.116 3.38728 333.626 0.700575C410.698 -3.68657 487.524 17.3649 540.319 48.7551C602.64 85.7908 635.767 139.185 657.832 187.443C674.979 224.989 679.282 264.337 670.739 302.801C666.621 321.336 660.352 340.449 648.428 357.93C636.689 375.138 629.99 394.319 613.519 410.508C593.851 429.859 565.21 446.353 532.206 458.834C439.4 493.965 315.003 506.787 213.101 476.655C215.559 477.403 174.073 502.093 169.955 504.032C149.12 513.656 124.904 521.002 99.0292 525.458C93.5591 526.41 69.8353 530.457 66.5164 526.24C63.8735 522.873 79.669 516.445 82.9265 514.371C109.846 497.468 129.944 477.233 141.314 455.603C143.588 451.284 145.555 446.693 143.773 442.306C139.532 431.729 118.082 426.832 106.65 418.976C91.3466 408.399 77.7023 396.53 65.7174 384.695C39.4121 358.678 21.3427 330.179 11.0787 300.931C1.55225 274.098 -1.45935 246.721 0.63031 219.378Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 675px;
    height: 529px;
    min-width: 675px;
    min-height: 529px;
    z-index: 5;
    mix-blend-mode: multiply;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top: -220px;
      left: 0;
      z-index: -2;
      width: 390px;
      height: 321px;
      mix-blend-mode: multiply;
      background-image: url("../images/illustration/boy.png");
    }
  }
  &-right{
    background-image: url("data:image/svg+xml,%3Csvg width='412' height='583' viewBox='0 0 412 583' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M411.615 241.801C410.79 222.383 408.652 203.04 405.425 183.884C400.136 152.32 391.32 119.556 370.763 94.2524C349.792 68.4613 318.806 46.7563 289.845 30.8618C264.298 16.8416 237.363 3.72112 208.365 0.759641C161.322 -4.07619 114.43 19.1283 82.2055 53.7289C44.1664 94.5523 23.9464 153.407 10.4789 206.601C0.0125195 247.987 -2.61346 291.359 2.60098 333.757C5.11441 354.188 8.94083 375.255 16.2185 394.524C23.3837 413.492 27.4727 434.635 37.5264 452.479C49.5309 473.809 67.0124 491.99 87.1574 505.748C143.803 544.472 219.732 558.605 281.93 525.391C280.429 526.216 305.751 553.431 308.264 555.568C320.982 566.177 335.762 574.274 351.555 579.185C354.894 580.235 369.375 584.696 371.4 580.047C373.013 576.336 363.372 569.251 361.384 566.964C344.953 548.333 332.686 526.028 325.746 502.187C324.358 497.426 323.157 492.365 324.245 487.529C326.834 475.871 339.926 470.473 346.904 461.813C356.245 450.155 364.573 437.072 371.888 424.026C387.944 395.348 398.973 363.934 405.238 331.695C411.053 302.118 412.891 271.941 411.615 241.801Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 412px;
    height: 583px;
    min-width: 412px;
    min-height: 583px;
    margin-left: -120px;
    z-index: 4;
    transition: 0.2s ease-in-out;
    @extend .shake;
  }
  &-title, &-btn, &-subtitle{
    position: absolute;
    color: map-get($colors, light);
    z-index: 10;
  }
  &-title{
    @include h1;
    top: 140px;
    left: 105px;
  }
  &-btn{
    @include h2;
    text-decoration: none;
    bottom: 140px;
    right: 100px;
    transition: 0.2s ease-in-out;
    &:hover{
      color: map-get($colors, accent1);
    }
  }
  &--services{
    padding-top: 80px;
    padding-bottom: 240px;
    .cta{
      &-left{
        &:before{
          display: none;
        }
      }
      &-right{
        top: 140px;
        left: -50px;
      }
      &-title{
        top: 50%;
        transform: translateY(-50%);
      }
      &-subtitle{
        @include h4;
        bottom: -10px;
        right: 130px;
      }
    }
  }
}