.footer{
  padding-top: 50px;
  padding-bottom: 100px;
  &-container{
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  &-logo{
    text-decoration: none;
    max-width: 100%;
    color: map-get($colors, accent1);
    transition: 0.2s ease-in-out;
    svg{
      width: 100%;
    }
    &:hover{
      color: map-get($colors, accent2);
    }
  }
  &-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 2px solid map-get($colors, secondary-medium);
  }
  &-bottom{
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-extraMenu{
    padding: 0;
    margin: 0 0 15px 0;
    li{
      display: inline-block;
      margin-right: 50px;
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      @include p3;
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: map-get($colors, secondary-dark);
      transition: 0.2s ease-in-out;
      text-transform: capitalize;
      &:hover{
        color: map-get($colors, accent2);
      }
    }
  }
  &-nav{
    width: 510px;
    min-width: 510px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a{
      @include p3;
      padding: 0;
      margin: 0;
      text-decoration: none;
      color: map-get($colors, secondary-dark);
      transition: 0.2s ease-in-out;
      text-transform: capitalize;
      &:hover{
        color: map-get($colors, accent2);
      }
    }
    &>li{
      margin-left: 40px;
      &:first-child{
        margin-left: 0;
      }
      li{
        margin-bottom: 10px;
      }
    }
    &>li>a{
      font-weight: 700;
      color: map-get($colors, dark);
      user-select: none;
      pointer-events: none;
      margin-bottom: 15px;
    }
  }
}