.persons{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 65px 45px;
  &:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='553' viewBox='0 0 155 553' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119.249 210.369C119.742 206.855 120.235 203.397 120.727 199.938C121.932 191.373 123.082 182.974 124.669 174.739C126.805 161.782 129.706 149.54 132.936 137.297C136.55 125.054 139.78 112.812 143.01 100.624C146.241 88.381 148.759 76.1383 150.894 63.5662C151.332 61.0957 151.715 58.5703 152.044 56.0998C153.467 45.9433 154.124 35.7868 154.124 25.4106C154.124 23.5989 154.179 22.1715 154.289 20.9088C154.453 17.9991 154.508 16.407 153.413 14.2659C151.825 11.0817 149.088 9.21514 143.01 8.83084C141.039 8.72104 138.795 8.39164 136.057 8.00734C131.349 7.34854 125.162 6.41524 116.512 5.97604C109.723 5.59173 102.496 4.43883 95.0499 3.23103C87.9325 2.07813 80.7056 0.925232 73.5334 0.376232C72.9859 0.321332 72.3837 0.321332 71.8362 0.266432C64.2808 -0.172769 56.5611 0.0468314 49.0605 0.321332C42.1073 0.540932 35.3732 0.760532 29.077 0.376232C15.4444 -0.337469 4.9873 -0.337469 2.19508 3.12123C-0.597122 6.57994 0.662094 11.9601 0.662094 11.9601L2.19508 20.7441C2.19508 29.9674 2.52357 39.0259 3.23532 47.9746C4.16606 59.6683 5.69905 71.0875 7.94377 82.2871C11.8857 102.106 15.1159 122.968 18.0176 144.544C18.1271 145.587 18.2914 146.795 18.4556 148.222C18.8389 151.351 19.3316 155.469 19.8244 160.41C20.5908 165.406 21.1383 170.896 21.7953 177.045C22.0691 179.79 22.3976 182.644 22.7261 185.609C23.8211 194.942 24.916 205.044 25.9563 215.859C26.9965 226.674 28.0915 236.721 29.1865 246.822C29.4055 249.019 29.6792 251.16 29.8982 253.301C30.7195 260.602 31.486 267.41 32.0335 273.833C32.4715 278.445 32.8547 282.508 33.2379 285.802C33.4569 288.162 33.6759 290.139 33.8402 291.786C34.0592 292.993 34.3329 295.738 34.6614 299.801C34.8257 301.668 35.0447 303.809 35.2637 306.169C35.6469 310.507 35.9754 315.008 36.2491 319.62C36.4681 323.408 36.7419 327.306 37.0704 331.369C37.3989 335.431 37.6726 339.329 37.8916 343.117C38.1654 347.729 38.4939 352.176 38.8771 356.568C39.5889 364.473 39.5889 369.14 39.5889 370.951C39.5889 372.049 39.5889 373.806 39.9721 376.002C40.1364 377.1 40.2458 378.308 40.3553 379.571C40.4101 380.724 40.5196 381.931 40.6838 383.194L41.7788 390.77C41.9431 391.923 42.1073 392.857 42.2168 393.57C42.3811 394.449 42.4906 395.053 42.4906 395.437H55.7947C57.6014 395.437 59.0249 395.437 61.1601 395.766C62.0361 395.931 62.8573 396.041 63.6786 396.096C64.5546 396.206 65.4305 396.26 66.197 396.48C67.6205 396.864 68.7155 396.864 69.044 396.864C70.4675 396.864 73.3692 396.864 77.6944 397.194C82.0196 397.523 84.5381 397.907 85.5783 398.621C85.852 397.633 86.1805 396.535 86.5638 395.382C87.166 393.515 87.823 391.319 88.48 388.904C89.575 384.951 90.2867 382.096 90.67 379.9L105.179 285.527L111.31 245.999C114.924 234.141 117.771 222.282 119.249 210.369ZM93.3527 539.714C97.3494 536.53 100.525 532.797 102.989 528.515C104.303 526.209 105.452 523.738 106.328 521.103C108.245 515.448 109.175 509.025 109.175 501.943C109.175 489.7 105.945 479.269 99.4846 470.65C95.2142 464.995 89.7392 460.219 83.1693 456.541C79.7749 454.619 76.1067 452.972 72.1647 451.6H63.8976C63.1858 451.27 61.3791 450.886 58.5321 450.886C55.6304 450.886 52.7834 450.886 49.17 451.215C45.5565 451.545 41.9978 452.313 38.3844 453.027C34.7709 454.125 31.5407 455.168 29.0222 456.98C22.5618 462.031 17.1964 467.411 13.1997 473.175C9.25774 478.94 7.451 485.747 7.451 494.422C7.451 495.739 7.50577 497.057 7.61526 498.429C7.94377 503.48 8.98401 508.86 10.6812 514.186C12.8165 520.993 16.0466 527.526 19.9886 533.236C23.9306 539 28.9675 544.051 34.3329 547.62C40.0816 551.188 46.2135 553 53.3857 553C70.0295 553 83.2788 548.718 93.3527 539.714Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
    width: 155px;
    height: 553px;
    top: 35%;
    right: -90px;
    transform: translateY(-50%);
    z-index: -1;
  }
}

.person{
  &-img{
    height: 440px;
    margin-bottom: 25px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-title{
    margin-bottom: 15px;
  }
  &-position{
    color: map-get($colors, secondary-dark);
  }
}