.post{
  &-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
  }
  &-picture{
    display: block;
    height: 470px;
    margin-bottom: 25px;
    overflow: hidden;
    &:hover{
      img{
        transform: scale(1.02);
      }
    }
  }
  &-category{
    margin: 0 -5px 5px;
    a{
      display: inline-block;
      padding: 5px;
      color: map-get($colors, accent1);
      transition: 0.2s ease-in-out;
      text-decoration: none;
      &:hover, &:focus{
        color: map-get($colors, accent2);
      }
    }
  }
  &-title{
    margin-bottom: 35px;
    color: map-get($colors, dark);
    a{
      color: inherit;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      &:hover{
        color: map-get($colors, accent2);
      }
    }
  }
  &-description{
    margin-bottom: 30px;
  }
  &--vertical{
    width: 370px;
    max-width: 100%;
    .post{
      &-picture{
        width: 100%;
        height: 470px;
        margin-bottom: 25px;
      }
      &-content{
        padding-top: 25px;
      }
    }
  }
  &--horizontal{
    display: flex;
    align-items: center;
    .post{
      &-picture{
        width: 555px;
        min-width: 555px;
        height: 320px;
        margin-right: 60px;
      }
    }
  }
}