.project{
  position: relative;
  display: flex;
  flex-direction: column;
  &-top{
    width: 100%;
    height: calc(100% - 200px);
    position: relative;
  }
  &-image{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    text-decoration: none;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: 0.2s ease-in-out;
    }
    &:hover{
      img{
        transform: scale(1.02);
      }
    }
  }
  &-panel{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 100px;
  }
  &-stats{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: map-get($colors, accent2);
    padding: 0;
    margin: 0;
  }
  &-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($colors, light);
    padding: 15px;
    span{
      @include h5;
    }
  }
  &-logo{
    height: 100%;
    width: 100px;
    text-align: center;
    margin-right: -1px;
    background-color: map-get($colors, light);
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-content{
    padding: 30px 42px;
    box-sizing: border-box;
    //height: 200px;
    background-color: map-get($colors, light);
  }
  &-category{
    margin: 0 -5px 5px;
    a{
      display: inline-block;
      padding: 5px;
      color: map-get($colors, accent1);
      transition: 0.2s ease-in-out;
      text-decoration: none;
      &:hover, &:focus{
        color: map-get($colors, accent2);
      }
    }
  }
  &-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-title{
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    color: map-get($colors, dark);
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='46' viewBox='0 0 48 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.08258 39.919C6.27049 38.4988 4.83075 36.8338 3.71371 34.9238C3.11795 33.8954 2.59667 32.7936 2.1995 31.6182C1.33069 29.0962 0.908691 26.2313 0.908691 23.0726C0.908691 17.6122 2.37326 12.9599 5.30239 9.11558C7.2386 6.59352 9.72091 4.46323 12.6997 2.82267C14.2387 1.96566 15.9019 1.23108 17.6891 0.618927H21.4374C21.7601 0.423039 22.5793 0.276123 23.8701 0.276123C25.1857 0.276123 26.4765 0.276123 28.1149 0.423039C29.7532 0.569955 31.3667 0.91276 33.005 1.23108C34.6434 1.7208 36.1079 2.18603 37.2498 2.99407C40.1789 5.24679 42.6116 7.64641 44.4237 10.2174C46.211 12.7885 47.0301 15.8247 47.0301 19.6935C47.0301 20.2812 47.0053 20.8689 46.9556 21.481C46.8067 23.7337 46.3351 26.1334 45.5655 28.5085C44.5974 31.5448 43.1329 34.4586 41.3456 37.0052C39.5583 39.5762 37.2746 41.8289 34.8419 43.4205C32.2355 45.0121 29.4553 45.8201 26.2035 45.8201C18.6572 45.8691 12.65 43.9347 8.08258 39.919Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      width: 48px;
      height: 46px;
      z-index: -1;
      left: -70px;
      top: -5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.2s ease-in-out;
      @extend .moving;
    }
    a{
      color: inherit;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      &:hover{
        color: map-get($colors, accent2);
      }
    }
  }
  &-description{
    p{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
  &-left{
    width: calc(60% - 30px);
    margin-right: 30px;
  }
  &-right{
    width: 100%;
  }
  &:nth-of-type(even){
    .project-stats{
      background-color: map-get($colors, accent1);
    }
    .project-image{
      &:before, &:after{
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
      }
      &:before{
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='47' viewBox='0 0 48 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.08258 40.3641C6.27049 38.9439 4.83075 37.2788 3.71371 35.3689C3.11795 34.3405 2.59667 33.2386 2.1995 32.0633C1.33069 29.5412 0.908691 26.6764 0.908691 23.5177C0.908691 18.0573 2.37326 13.4049 5.30239 9.56064C7.2386 7.03858 9.72091 4.9083 12.6997 3.26774C14.2387 2.41073 15.9019 1.67615 17.6891 1.064H21.4374C21.7601 0.868108 22.5793 0.721191 23.8701 0.721191C25.1857 0.721191 26.4765 0.721191 28.1149 0.868108C29.7532 1.01502 31.3667 1.35783 33.005 1.67615C34.6434 2.16587 36.1079 2.6311 37.2498 3.43914C40.1789 5.69185 42.6116 8.09148 44.4237 10.6625C46.211 13.2335 47.0301 16.2698 47.0301 20.1386C47.0301 20.7263 47.0053 21.3139 46.9556 21.9261C46.8067 24.1788 46.3351 26.5784 45.5655 28.9536C44.5974 31.9898 43.1329 34.9037 41.3456 37.4502C39.5583 40.0213 37.2746 42.274 34.8419 43.8656C32.2355 45.4571 29.4553 46.2652 26.2035 46.2652C18.6572 46.3142 12.65 44.3798 8.08258 40.3641Z' fill='%23FF6B00'/%3E%3C/svg%3E%0A");
        width: 48px;
        height: 47px;
        top: 103px;
        left: -35px;
        z-index: -1;
        @extend .moving2;
      }
      &:after{
        background-image: url("data:image/svg+xml,%3Csvg width='278' height='165' viewBox='0 0 278 165' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M152.935 107.107C150.806 108.012 148.711 108.908 146.616 109.803C141.426 112.011 136.331 114.156 131.413 116.551C123.615 120.089 116.397 123.992 109.234 128.103C102.136 132.456 94.9729 136.567 87.8446 140.668C80.6816 144.779 73.398 148.439 65.8419 151.912C64.3602 152.606 62.8346 153.275 61.3343 153.9C55.1789 156.515 48.8935 158.645 42.3584 160.396C41.2173 160.702 40.3276 160.977 39.5509 161.26C37.7461 161.855 36.7526 162.158 35.2184 161.826C32.9436 161.359 31.3037 159.941 30.031 156.159C29.6276 154.93 29.0394 153.565 28.3331 151.897C27.1196 149.028 25.4825 145.269 23.7387 139.868C22.3453 135.636 20.3935 131.256 18.3699 126.747C16.4367 122.437 14.4849 118.057 12.9227 113.61C12.7952 113.272 12.6931 112.891 12.5657 112.554C11.0076 107.846 9.83669 102.923 8.73746 98.1286C7.69651 93.6904 6.69269 89.3909 5.38281 85.4705C2.6212 76.9621 0.847662 70.3431 2.55248 67.9921C4.2573 65.641 7.85946 65.5301 7.85946 65.5301L13.6519 65.018C19.4609 63.4615 25.2219 62.1407 30.9787 61.081C38.5016 59.6967 45.9537 58.7399 53.3882 58.2706C66.5392 57.4211 80.2265 55.9449 94.3076 54.1405C94.9832 54.0337 95.7717 53.9339 96.6986 53.7969C98.7345 53.5114 101.411 53.1284 104.607 52.6064C107.883 52.2485 111.434 51.6685 115.418 51.0467C117.193 50.7567 119.047 50.4829 120.97 50.1905C127.034 49.3085 133.582 48.2968 140.57 47.1301C147.558 45.9633 154.072 44.9609 160.62 43.9492C162.04 43.7172 163.435 43.5291 164.821 43.3064C169.559 42.594 173.976 41.9303 178.115 41.1928C181.093 40.6918 183.717 40.2488 185.857 39.9354C187.381 39.6757 188.663 39.4807 189.728 39.3067C190.526 39.2415 192.301 38.9515 194.916 38.4739C196.119 38.2628 197.505 38.0401 199.029 37.7803C201.825 37.291 204.716 36.7391 207.667 36.1342C210.09 35.6335 212.592 35.1489 215.206 34.6713C217.821 34.1936 220.322 33.709 222.745 33.2084C225.696 32.6034 228.552 32.0608 231.384 31.5622C236.484 30.6785 239.423 29.891 240.564 29.5853C241.255 29.4 242.362 29.1035 243.81 28.9755C244.529 28.8941 245.309 28.7596 246.122 28.6158C246.858 28.4559 247.637 28.3214 248.46 28.2123L253.418 27.6268C254.172 27.5362 254.787 27.4826 255.255 27.4315C255.836 27.3872 256.235 27.3546 256.477 27.2898L258.734 35.7107C259.04 36.8543 259.282 37.7553 259.851 39.0512C260.104 39.5779 260.312 40.0792 260.486 40.5897C260.704 41.1257 260.887 41.6709 261.155 42.119C261.639 42.9551 261.824 43.6482 261.88 43.8561C262.121 44.7571 262.613 46.5938 263.554 49.2759C264.496 51.958 265.165 53.4872 265.791 54.0252C265.215 54.3653 264.579 54.7585 263.918 55.1956C262.844 55.8918 261.573 56.6783 260.163 57.5018C257.859 58.862 256.181 59.7942 254.863 60.4074L197.885 85.5173L174.029 96.0694C167.174 100.358 160.188 104.161 152.935 107.107Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E%0A");
        width: 278px;
        height: 165px;
        top: 5px;
        right: -180px;
        @extend .shake;
      }
    }
  }
}