.review{
  display: flex;
  align-items: center;
  &-picture{
    width: 260px;
    height: 370px;
    min-width: 260px;
    margin-right: 80px;
  }
  &-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    mask: url("data:image/svg+xml,%3Csvg width='260' height='370' viewBox='0 0 260 370' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M227.681 360.691C227.999 361.059 228.587 361.592 229.248 362.192L229.382 362.314C230.114 362.978 230.949 363.741 231.711 364.53C232.478 365.322 233.148 366.116 233.564 366.839C233.992 367.584 234.076 368.12 233.92 368.482C233.71 368.968 233.137 369.306 232.115 369.439C231.115 369.57 229.842 369.48 228.505 369.271C225.838 368.854 223.059 367.989 222.006 367.655L222.005 367.655C212.103 364.553 202.835 359.439 194.86 352.737C194.488 352.418 193.216 351.109 191.502 349.279C189.798 347.461 187.684 345.157 185.649 342.88C183.613 340.601 181.662 338.354 180.28 336.646C179.587 335.791 179.046 335.081 178.71 334.576C178.54 334.319 178.437 334.137 178.391 334.027C178.366 333.966 178.374 333.966 178.376 334.005C178.378 334.046 178.37 334.254 178.159 334.371L177.68 333.493C138.639 354.495 90.9267 345.579 55.2858 321.034L55.2856 321.033C42.6293 312.326 31.6526 300.823 24.1182 287.336L24.1181 287.336C20.9711 281.709 18.752 275.552 16.7512 269.274C16.1509 267.391 15.5695 265.494 14.9884 263.598C13.6376 259.19 12.2879 254.787 10.7032 250.56C6.1308 238.365 3.72197 225.017 2.13771 212.044C-1.1456 185.15 0.507996 157.638 7.09782 131.388C15.5939 97.5817 28.3304 60.2731 52.2443 34.4188L52.2444 34.4187C72.5036 12.5047 101.95 -2.15195 131.441 0.902048L131.441 0.902082C149.631 2.77353 166.552 11.0682 182.67 19.9794C200.919 30.0692 220.411 43.8304 233.587 60.1555C246.476 76.1377 252.023 96.8593 255.358 116.906L255.358 116.906C257.391 129.066 258.738 141.343 259.258 153.665C260.061 172.792 258.903 191.937 255.242 210.698L255.242 210.699C251.297 231.147 244.354 251.067 234.25 269.249C229.642 277.527 224.401 285.819 218.529 293.203C217.458 294.542 216.144 295.764 214.733 296.969C214.14 297.475 213.519 297.987 212.893 298.503C212.054 299.194 211.205 299.894 210.402 300.598C207.565 303.085 204.985 305.886 204.133 309.755C203.416 312.967 204.212 316.296 205.087 319.32C209.487 334.547 217.264 348.791 227.681 360.691ZM227.681 360.691C227.68 360.69 227.68 360.69 227.679 360.69L228.057 360.363L227.682 360.692C227.681 360.692 227.681 360.691 227.681 360.691Z' fill='black' stroke='black'/%3E%3C/svg%3E%0A") top left / cover;
  }
  &-content{
    width: 520px;
  }
  &-title{
    margin-bottom: 10px;
  }
  &-position{
    color: map-get($colors, secondary-dark);
    margin-bottom: 25px;
  }
  &-description{
    margin-bottom: 35px;
  }
}