.seos{
  padding-top: 60px;
  padding-bottom: 60px;
  &-container{
    width: 100%;
    max-width: 1160px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  &-subtitle{
    @include p2;
    width: 550px;
    max-width: 100%;
  }
}
.seo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: multiply;
    background-image: url("data:image/svg+xml,%3Csvg width='124' height='166' viewBox='0 0 124 166' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M8.22204 64.4649C8.90531 59.3057 9.93677 54.1978 11.2537 49.1659C13.4167 40.8739 16.5482 32.346 22.6315 26.0877C28.8364 19.7093 37.6137 14.6594 45.7124 11.1109C52.8564 7.98092 60.3489 5.12396 68.149 5.02559C80.8035 4.85759 92.749 12.1644 100.513 22.1607C109.678 33.9553 113.664 50.134 115.984 64.642C117.787 75.9291 117.452 87.5591 115.05 98.7423C113.893 104.131 112.37 109.659 109.971 114.624C107.608 119.512 106.014 125.053 102.909 129.572C99.1999 134.975 94.1065 139.407 88.4086 142.596C72.3858 151.573 51.81 153.532 36.0236 143.19C36.4039 143.446 29.0051 150.101 28.2842 150.611C24.6413 153.137 20.5084 154.944 16.1815 155.877C15.2665 156.077 11.3004 156.922 10.8713 155.634C10.5299 154.606 13.2688 152.946 13.8533 152.383C18.6775 147.806 22.4794 142.15 24.8981 135.957C25.3816 134.72 25.8224 133.399 25.6478 132.084C25.236 128.913 21.875 127.161 20.2217 124.685C18.01 121.353 16.1023 117.665 14.4637 114.011C10.8682 105.98 8.67793 97.3391 7.77721 88.5916C6.93298 80.5647 7.16299 72.4727 8.22204 64.4649Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 124px;
    height: 166px;
    left: 20px;
    bottom: -50px;
    z-index: 1;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &-img{
    width: 460px;
    max-width: 100%;
    height: 530px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s ease-in-out;
    }
    &:hover{
      img{
        transform: scale(1.02);
      }
    }
    &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      mix-blend-mode: multiply;
      z-index: 1;
    }
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='278' height='166' viewBox='0 0 278 166' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M124.735 107.19C126.867 108.096 128.966 108.993 131.064 109.891C136.263 112.102 141.367 114.251 146.292 116.65C154.104 120.194 161.334 124.103 168.51 128.221C175.619 132.581 182.794 136.699 189.935 140.807C197.11 144.925 204.406 148.591 211.975 152.07C213.459 152.766 214.987 153.436 216.49 154.062C222.656 156.681 228.952 158.814 235.498 160.568C236.641 160.875 237.532 161.151 238.31 161.434C240.118 162.03 241.113 162.333 242.65 162.001C244.928 161.533 246.571 160.113 247.846 156.325C248.25 155.093 248.839 153.726 249.547 152.055C250.762 149.181 252.402 145.417 254.149 140.006C255.545 135.767 257.5 131.38 259.527 126.863C261.463 122.545 263.418 118.158 264.983 113.703C265.111 113.366 265.213 112.984 265.341 112.646C266.901 107.93 268.074 102.998 269.175 98.1961C270.218 93.7505 271.224 89.4437 272.536 85.5167C275.302 76.9939 277.079 70.3638 275.371 68.0088C273.663 65.6538 270.055 65.5427 270.055 65.5427L264.253 65.0297C258.434 63.4706 252.663 62.1475 246.897 61.0861C239.361 59.6994 231.896 58.741 224.449 58.2709C211.276 57.4199 197.566 55.9413 183.461 54.1338C182.784 54.0269 181.994 53.9269 181.066 53.7897C179.026 53.5037 176.345 53.1201 173.144 52.5972C169.862 52.2386 166.305 51.6577 162.315 51.0348C160.536 50.7444 158.679 50.4701 156.753 50.1772C150.679 49.2937 144.12 48.2803 137.12 47.1116C130.12 45.9428 123.596 44.9387 117.037 43.9253C115.614 43.693 114.217 43.5046 112.829 43.2815C108.083 42.5678 103.658 41.903 99.5123 41.1643C96.5285 40.6625 93.9004 40.2187 91.7571 39.9048C90.2306 39.6446 88.9464 39.4494 87.8795 39.2751C87.0803 39.2097 85.302 38.9193 82.6831 38.4408C81.4776 38.2294 80.0896 38.0063 78.563 37.7461C75.7617 37.2559 72.8658 36.7031 69.9098 36.0971C67.4828 35.5956 64.9771 35.1103 62.3583 34.6318C59.7394 34.1533 57.2337 33.6679 54.8067 33.1664C51.8508 32.5604 48.9894 32.0169 46.1535 31.5175C41.045 30.6323 38.1009 29.8435 36.958 29.5372C36.2652 29.3516 35.1569 29.0546 33.7063 28.9264C32.9857 28.8449 32.2051 28.7101 31.3899 28.5661C30.6533 28.4059 29.8727 28.2712 29.0481 28.1619L24.0824 27.5754C23.3271 27.4846 22.7104 27.431 22.2415 27.3798C21.6595 27.3354 21.2599 27.3028 21.0174 27.2378L18.7572 35.673C18.4503 36.8185 18.2084 37.721 17.6379 39.0191C17.3851 39.5467 17.1764 40.0488 17.0022 40.5602C16.7841 41.0971 16.6007 41.6432 16.3319 42.0921C15.8476 42.9296 15.6616 43.6239 15.6058 43.8321C15.364 44.7347 14.871 46.5744 13.9284 49.2611C12.9858 51.9477 12.3155 53.4795 11.6885 54.0184C12.2654 54.359 12.9023 54.7529 13.5645 55.1908C14.6398 55.8881 15.9137 56.6759 17.326 57.5008C19.6338 58.8633 21.3139 59.7971 22.6343 60.4114L79.7085 85.5637L103.605 96.1335C110.472 100.429 117.47 104.239 124.735 107.19Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E");
      width: 278px;
      height: 166px;
      top: 43px;
      left: -100px;
    }
    &:after{
      background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M6.99946 39.1686C5.23143 37.7654 3.8267 36.1202 2.73681 34.2332C2.15554 33.2171 1.64693 32.1284 1.25942 30.9671C0.411733 28.4752 0 25.6446 0 22.5237C0 17.1287 1.42896 12.532 4.28687 8.7337C6.176 6.24181 8.59795 4.13701 11.5043 2.51608C13.0059 1.66932 14.6286 0.94353 16.3724 0.338703H20.0296C20.3445 0.145158 21.1437 0 22.4031 0C23.6868 0 24.9462 0 26.5447 0.145158C28.1432 0.290317 29.7174 0.62902 31.3159 0.94353C32.9144 1.42739 34.3434 1.88706 35.4575 2.68543C38.3154 4.91119 40.6889 7.28211 42.4569 9.82238C44.2008 12.3627 45 15.3626 45 19.1851C45 19.7657 44.9758 20.3464 44.9273 20.9512C44.782 23.177 44.3218 25.5479 43.571 27.8946C42.6265 30.8945 41.1975 33.7735 39.4537 36.2896C37.7099 38.8299 35.4817 41.0556 33.1082 42.6282C30.5651 44.2007 27.8525 44.9991 24.6798 44.9991C17.317 45.0475 11.4559 43.1362 6.99946 39.1686Z' fill='%23FF6B00'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 45px;
      height: 45px;
      right: 30px;
      top: 30%;
    }
  }
  &-content{
    width: 570px;
    max-width: 100%;
  }
  &-title{
    padding-bottom: 55px;
    color: map-get($colors, dark);
    a{
      color: inherit;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      &:hover{
        color: map-get($colors, accent2);
      }
    }
  }
  &-description{
    padding-bottom: 30px;
  }
  &:nth-of-type(2n){
    flex-direction: row-reverse;
    &:before{
      right: 20px;
      transform: scaleX(-1);
      left: auto;
    }
    .seo-img{
      &:before, &:after{
        transform: scaleX(-1);
      }
      &:before{
        right: -100px;
        left: auto;
      }
      &:after{
        left: 30px;
        right: auto;
      }
    }
  }
}