.singlePost{
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  &-wrapper{
    width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
  }
  &-title{
    position: relative;
    margin-bottom: 65px;
    z-index: 1;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='61' height='60' viewBox='0 0 61 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71152 51.572C7.35415 49.7244 5.48117 47.5583 4.02799 45.0737C3.25296 43.7358 2.57482 42.3024 2.05813 40.7734C0.927884 37.4924 0.378906 33.7655 0.378906 29.6563C0.378906 22.5528 2.28418 16.5005 6.09473 11.4994C8.61357 8.21838 11.8428 5.44707 15.718 3.31284C17.7201 2.19794 19.8837 1.24231 22.2088 0.445959H27.085C27.5048 0.191125 28.5705 0 30.2497 0C31.9613 0 33.6405 0 35.7718 0.191125C37.9031 0.38225 40.0022 0.828209 42.1335 1.24231C44.2648 1.8794 46.1701 2.48463 47.6555 3.53582C51.4661 6.4664 54.6308 9.58811 56.9882 12.9328C59.3132 16.2775 60.3789 20.2274 60.3789 25.2604C60.3789 26.0249 60.3466 26.7894 60.282 27.5857C60.0883 30.5163 59.4747 33.638 58.4736 36.7279C57.2142 40.6778 55.3089 44.4685 52.9839 47.7813C50.6588 51.126 47.6878 54.0566 44.5231 56.1271C41.1324 58.1976 37.5156 59.2488 33.2853 59.2488C23.4682 59.3125 15.6534 56.796 9.71152 51.572Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
      width: 61px;
      height: 60px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      bottom: -15px;
      left: -20px;
      z-index: -1;
    }
  }
  &-content{
    width: 780px;
    max-width: 100%;
    h2{
      position: relative;
      margin-bottom: 65px;
      z-index: 1;
      &:before{
        content: "";
        display: block;
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='61' height='60' viewBox='0 0 61 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71152 51.572C7.35415 49.7244 5.48117 47.5583 4.02799 45.0737C3.25296 43.7358 2.57482 42.3024 2.05813 40.7734C0.927884 37.4924 0.378906 33.7655 0.378906 29.6563C0.378906 22.5528 2.28418 16.5005 6.09473 11.4994C8.61357 8.21838 11.8428 5.44707 15.718 3.31284C17.7201 2.19794 19.8837 1.24231 22.2088 0.445959H27.085C27.5048 0.191125 28.5705 0 30.2497 0C31.9613 0 33.6405 0 35.7718 0.191125C37.9031 0.38225 40.0022 0.828209 42.1335 1.24231C44.2648 1.8794 46.1701 2.48463 47.6555 3.53582C51.4661 6.4664 54.6308 9.58811 56.9882 12.9328C59.3132 16.2775 60.3789 20.2274 60.3789 25.2604C60.3789 26.0249 60.3466 26.7894 60.282 27.5857C60.0883 30.5163 59.4747 33.638 58.4736 36.7279C57.2142 40.6778 55.3089 44.4685 52.9839 47.7813C50.6588 51.126 47.6878 54.0566 44.5231 56.1271C41.1324 58.1976 37.5156 59.2488 33.2853 59.2488C23.4682 59.3125 15.6534 56.796 9.71152 51.572Z' fill='%237E4DBC'/%3E%3C/svg%3E%0A");
        width: 61px;
        height: 60px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -15px;
        left: -20px;
        z-index: -1;
      }
    }
    p{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-img{
    margin-bottom: 50px;
  }
  &-cta{
    @include h3;
    display: block;
    color: map-get($colors, light);
    position: absolute;
    right: 150px;
    top: 150px;
    z-index: 1;
    text-decoration: none;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='398' height='316' viewBox='0 0 398 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:multiply'%3E%3Cpath d='M0.749603 131.221C1.54486 120.677 3.60531 110.175 6.71405 99.774C11.8109 82.6361 20.3057 64.8468 40.1149 51.108C60.3217 37.1046 90.1801 25.3198 118.086 16.6897C142.703 9.07742 168.658 1.95359 196.6 0.345642C241.93 -2.28 287.115 10.319 318.166 29.1056C354.82 51.2709 374.304 83.2263 387.282 112.108C397.367 134.579 399.897 158.128 394.873 181.148C392.451 192.241 388.764 203.68 381.751 214.142C374.847 224.441 370.906 235.921 361.219 245.609C349.651 257.19 332.806 267.062 313.395 274.532C258.811 295.557 185.647 303.231 125.714 285.197C127.16 285.645 102.76 300.422 100.338 301.582C88.0835 307.342 73.8411 311.738 58.6227 314.405C55.4056 314.975 41.4524 317.397 39.5004 314.873C37.946 312.858 47.2361 309.011 49.1519 307.769C64.9848 297.654 76.8052 285.543 83.4926 272.598C84.8301 270.013 85.9869 267.265 84.9386 264.64C82.4443 258.31 69.8287 255.379 63.1051 250.677C54.1042 244.347 46.0793 237.244 39.0305 230.16C23.5591 214.59 12.9315 197.533 6.89481 180.029C1.29185 163.97 -0.479433 147.585 0.749603 131.221Z' fill='%237E4DBC'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 398px;
      height: 316px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &:hover{
      color: map-get($colors, accent2);
    }
  }
}