//@font-face {
//  font-family: 'KG Summer Storm Rough';
//  src: url('../fonts/KgSummerStorm/KGSummerStormRough.eot');
//  src: url('../fonts/KgSummerStorm/KGSummerStormRough.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/KgSummerStorm/KGSummerStormRough.woff2') format('woff2'),
//  url('../fonts/KgSummerStorm/KGSummerStormRough.woff') format('woff'),
//  url('../fonts/KgSummerStorm/KGSummerStormRough.svg#KGSummerStormRough') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'KG Summer Storm Rough';
  src: url('../fonts/KG_Summer/KGSummerStormRough.eot');
  src: url('../fonts/KG_Summer/KGSummerStormRough.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KG_Summer/KGSummerStormRough.woff2') format('woff2'),
  url('../fonts/KG_Summer/KGSummerStormRough.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}