@keyframes moving {
  20% {
    transform: translate(-100px, -30px) rotate(0.5deg);
  }
  40% {
    transform: translate(-130px, 80px) rotate(0.5deg);
  }
  60%{
    transform: translate(50px, 20px) rotate(0.5deg);
  }
  80% {
    transform: translate(30x, -10px) rotate(0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.moving{
  animation-name: moving;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moving2{
  20% {
    transform: translate(100px, 30px) rotate(0.5deg);
  }
  40% {
    transform: translate(130px, -80px) rotate(0.5deg);
  }
  60%{
    transform: translate(-50px, -20px) rotate(0.5deg);
  }
  80% {
    transform: translate(-30x, 10px) rotate(0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.moving2{
  animation-name: moving2;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moving3{
  20% {
    transform: translate(-25px, -25px) rotate(0.5deg);
  }
  40% {
    transform: translate(25px, -30px) rotate(0.5deg);
  }
  60%{
    transform: translate(20, 10px) rotate(0.5deg);
  }
  80% {
    transform: translate(-25px, 15px) rotate(0.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.moving3{
  animation-name: moving3;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes shake {
  20% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(4deg);
  }
  60%{
    transform: rotate(0) ;
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}


.shake{
  animation-name: shake;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


