$font-common: 'Open Sans', 'Arial', sans-serif;
$font-heading: 'KG Summer Storm Rough', "Times New Roman", serif;

$colors: (
  accent1: #7E4DBC,
  accent2: #FF6B00,
  dark: #333333,
  light: #ffffff,
  secondary-dark: #909090,
  secondary-medium: #CDCDCD,
  secondary-light: #f9f9f9,
  bg: #E5E5E5,
  success: #28a745,
  error: #B00020
)